@use "../abstracts" as *;

.cardWrapper {
  width: 340px;
  height: 423px;
  background-color: $cardBgColor;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.cardHeader {
  height: 222px;
}

.cardContent {
  padding: 30px;

  h1 {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $titleColor;
  }

  p {
    font-family: "Lato";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $textColor;
  }
}
